/*regole generali di pagina*/





body{

    background-color: rgb(188, 199, 209);

}

/*regole header*/
header {

    background-color: white;
    padding: 10px 30px;
}

header>img {

    width: 55px;
    height: 55px;
    line-height: 100%;
    vertical-align: middle;
}


.title {
    font-size: 50px;
    color: black;
    font-weight: bold;
}


/*regole main section*/

#container {
    
    background-color: white;
    width: 70%;
    margin-top: 20px;
    padding: 15px 50px;
    margin: 20px auto;


}



.add-task  {
    background-color: rgba(38, 38, 207, 0.753);
    color:white;
    padding:10px;
    border-radius:5px;
    border:none;
    height:40px;
}




 