/*regole generali di pagina*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, 
}


body{

    background-color: rgb(188, 199, 209);

}

/*regole header*/
header {

    background-color: white;
    padding: 10px 30px;
}

header>img {

    width: 55px;
    height: 55px;
    line-height: 100%;
    vertical-align: middle;
}


.title {
    font-size: 50px;
    color: black;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
}


/*regole main section*/

#container {
    
    background-color: white;
    width: 70%;
    margin-top: 20px;
    padding: 15px 50px;
    margin: 20px auto;
   


}

.buttons{
    margin-bottom: 20px;
}
.add {
    padding: 5px;
    border:none;
    border-radius:5px;
    height:30px;
    font-size:15px
    
    
    
}

.section{
    background-color: aliceblue;
    color: grey;
}

.task  {
    background-color: blue;
    color: white;

}

.testo-grassetto::before {
    content:"\25BC";
    font-size:16px;
    margin-right:5px;
    
}

.testo-grassetto {
    font-size:20px;
    margin-bottom:20px;

}

.tick::before {


        content:"\2713";
        font-size:10px;
        color:green;
        border:2px solid green;
        border-radius:50%;
        padding:1px 1px;
        margin:7px 10px;
}

    /*label section  */
    .all-label {
        margin-left:10px;
        font-size:10px;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    }
.blue-label{
    background-color: blue;

}

.violet-label{
    background-color: blueviolet;
}

.none::before{
    content:"\2715";
        font-size:10px;
        color:red;
        border:2px solid red;
        border-radius:50%;
        padding:1px 1px;
        margin:7px 10px;

}

.testo{
    margin-bottom: 20px;
}
.green-label{
    background-color: green;
}
 
.orange-label{
    background-color: orange;
}

.pink-label{
    background-color: darkorchid;
}

.lime-label{
    background-color: limegreen;
}